form div{
  width: 48%;
  margin-bottom: 1%;
}

.left{
  float:left;
}

.right{
  float: right;
}

select, input{
  float: right;
  width: 70%;
}


textarea{
  margin: 1%;
  width: 90%;
}

.container{
  width: 90%;
}
